%h1 pmb
%ul
  = display(root)
%p
  %a{:href => '/?archives=&rt=0'}
    archives
  (
  %a{:href => 'http://github.com/pcarrier/pmb'}<>pmb
  )
%pre#license~ "Copyright (c) 2010, Pierre Carrier <perso@gcarrier.fr>\nPermission to use, copy, modify, and/or distribute this software for any\npurpose with or without fee is hereby granted, provided that the above\ncopyright notice and this permission notice appear in all copies."
%script{:type => 'text/javascript'}
  document.getElementById('input').focus();
