!!! XML
!!! Basic
%html{html_attrs('fr-fr')}
  %head
    %title mb, a private micro-blog
    %style
      html{font-family:"Helvetica Neue",Helvetica,arial,sans-serif;font-size:10pt;color:#fff;background-color:#444;}
      ul{list-style-type:square;}
      input{border:1px solid #800;padding:1px;}
      \#input{width:30em;color:#f00;background-color:#000;}
      \#send{color:#000;background-color:#f00;}
      \.date{float:right;background-color:#222;}
      \#license{color:#888;border-top:1px solid #888;padding-top:2px;}
      a,a:visited{color:#f00;text-decoration:none;}
      \.title{border-bottom:1px dotted #800;}
  %body
    %h1 mb, a private micro-blog
    %ul
      = display(root)
    %pre#license~ "Copyright (c) 2010, Pierre Carrier <perso@gcarrier.fr>\nPermission to use, copy, modify, and/or distribute this software for any\npurpose with or without fee is hereby granted, provided that the above\ncopyright notice and this permission notice appear in all copies."
    %script{:type => 'text/javascript'}
      document.getElementById('input').focus();